<html><head>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="https://download.affectiva.com/js/3.2/affdex.js"></script>
<script type="text/javascript" src="/static/app.js"></script>
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="static/site.css">
</head>
<body>
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-6 col-md-offset-5 col-xs-12">
              <img class="" alt="testing" src="/static/pngs/pola-normal.png" style="
    width: 51%;
    display: block;
    /* text-align: center; */
    /* left: 62%; */
    margin-left: 100px;
">
            <div style="
    /* text-align: center; */
    margin-left: 37%;
    margin-top: 120px;
            "><p style="
    color: white;
    font-size: 20px;
    margin-left: -5px;
">%Emotion%</p>
</div></div>
            
    </div>
  </div>



</body></html>